{% extends '@UserBundle/layout.html.twig' %}

{% block fos_user_content %}
    <div class="pad col-md-offset-4 col-md-4">
        {{ form_start(form, {'attr': {'class': 'password_reset_request'}}) }}
        
        <div>
            {% if app.session.flashbag.has('success') %}
                <p class="alert alert-success">
                    {{ app.session.flashbag.get('success')[0] }}
                </p>
            {% endif %}
            
            <div class="form-group label-floating is-empty">
                <label for="email">{{ 'Password Reset Request'|trans }}</label>
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                
                {% if form.email.vars.errors is not empty %}
                    <div class="error-form">
                        {% for error in form.email.vars.errors %}
                            <p class="alert alert-danger">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div>
            <input class="btn btn-primary btn-raised col-md-12" type="submit" value="{{ 'Send Reset Link'|trans }}" />
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
