{% extends '@UserBundle/layout.html.twig' %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <h2>Change Your Password</h2>

            {% if app.session.flashbag.has('success') %}
                <div class="alert alert-success">
                    {{ app.session.flashbag.get('success')[0] }}
                </div>
            {% endif %}

            {% if app.session.flashbag.has('error') %}
                <div class="alert alert-danger">
                    {{ app.session.flashbag.get('error')[0] }}
                </div>
            {% endif %}

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.currentPassword) }}
                {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
                {% if form.currentPassword.vars.errors %}
                    <div class="error-form">
                        {% for error in form.currentPassword.vars.errors %}
                            <p class="alert alert-danger">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form_label(form.newPassword) }}
                {{ form_widget(form.newPassword, {'attr': {'class': 'form-control'}}) }}
                {% if form.newPassword.vars.errors %}
                    <div class="error-form">
                        {% for error in form.newPassword.vars.errors %}
                            <p class="alert alert-danger">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form_label(form.confirmPassword) }}
                {{ form_widget(form.confirmPassword, {'attr': {'class': 'form-control'}}) }}
                {% if form.confirmPassword.vars.errors %}
                    <div class="error-form">
                        {% for error in form.confirmPassword.vars.errors %}
                            <p class="alert alert-danger">{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
